# Xcode/OSX
*.xcuserstate
*.DS_Store

# VS Code
.vscode

# Android Studio / Example project configs
*.idea
*.gradle
integrations/android/android_jni_lib/proj/local.properties
integrations/android/example_app/local.properties

# Unity
*.meta
integrations/Unity3D/Library
integrations/Unity3D/Temp
integrations/Unity3D/obj
integrations/Unity3D/Plugins

# Docker test
*.tmp

# ZeroTierOne source
zerotierone

# Other
.depend
.buildnum
build
