# Xcode/OSX
*.xcuserstate
*.DS_Store

# Android Studio 
*.idea
*.gradle
integrations/android/android_jni_lib/proj/local.properties

# Unity
*.meta
integrations/Unity3D/Library
integrations/Unity3D/Temp
integrations/Unity3D/obj

# Docker test
*.tmp

# ZeroTierOne source
zerotierone