<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZeroTierSDK_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZeroTierSDK_Unity3D_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ZeroTierSDK_Unity3D_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZeroTierSDK_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CC003041D12164D003E68DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC003171D1216B0003E68DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC003221D1216E3003E68DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC0032F1D1216F8003E68DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC0033B1D121741003E68DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
