<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZeroTierSDK_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZeroTierSDK_Unity3D_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZeroTierSDK_Unity3D_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ZeroTierSDK_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C0FEDD71D120376007A4E66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0FEDE31D12039C007A4E66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0FEDED1D1203AF007A4E66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C936A331D11EBEA00470058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
